@model BusinessEntities.UserEntity

<h3>@ViewBag.Message</h3>


<div class="jumbotron">
    <h1>HMIS</h1>
    <p class="lead"> WellCome to Hospital Management System. A WebGen Technologies Initiative</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started Patients</h2>
        <p>
            Check Your Approved List
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started Bills</h2>
        <p>Get All Release For the Day.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">See more &raquo;</a></p>
    </div>
    
</div>

