<div>

    <p> Login Successfully.</p>
</div>
<div class="col-md-8" ng-controller="nextController">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer</th>
                <th>City</th>
                <th>Shipped</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="order in orders">
                <td>
                    {{ order.orderID }}
                </td>
                <td>
                    {{ order.customerName }}
                </td>
                <td>
                    {{ order.shipperCity }}
                </td>
                <td>
                    <input type="checkbox" data-ng-model="order.isShipped" disabled="disabled">
                </td>
            </tr>
        </tbody>
    </table>
</div>