@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<meta name="viewport" content="width=device-width" />

<p>
    <link rel="stylesheet" href="~/Content/themes/base/minified/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />


    <style>
        span.field-validation-error {
            color: red;
        }
    </style>

    @Html.ActionLink("Create New", "RegisterPatient", new { @class = "btn btn-small btn-primary" })
</p>
<div style="width:90%; margin:0 auto" class="tablecontainer">
    <a class="popup btn btn-primary" href="/PatientClient/RegisterPatient/0" style="margin-bottom:20px; margin-top:20px;">Add New Patient</a>
    <table id="myDatatable">
        <thead>
            <tr>
                <th>Registration No.</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>Blood Type</th>
                <th>Phone</th>
                <th>City</th>
                <th>Sex</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
   
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script>
    $(document).ready(function () {
        var oTable = $('#myDatatable').DataTable({
            "ajax": {
                "url": '/PatientClient/LoadPatient',
                "type": "get",
                "datatype": "json"
            },
            "columns": [
                { "data": "patient_registration_no", "name": "CustomerID", "autoWidth": true },
                { "data": "patient_first_name", "name": "CompanyName", "autoWidth": true },
                { "data": "patient_last_name", "title": "ContactName", "name": "ContactName", "autoWidth": true },
                { "data": "patient_dob", "name": "DOB", "autoWidth": true },
                { "data": "patient_blood_type", "name": "BloodGroup", "autoWidth": true },
                { "data": "patient_phone", "name": "Phone", "autoWidth": true },
                { "data": "patient_city", "name": "City", "autoWidth": true },
                { "data": "patient_sex", "name": "Sex", "title": "Status", "autoWidth": true },
                {
                    "data": "ID", "width": "50px", "render": function (data) {
                        return '<a class="popup" href="/PatientClient/RegisterPatient/' + data + '">Edit</a>';
                    }
                },
                {
                    "data": "ID", "width": "50px", "render": function (data) {
                        return '<a class="popup" href="/home/delete/' + data + '">Delete</a>';
                    }
                }
            ]
        })
        $('.tablecontainer').on('click', 'a.popup', function (e) {
            e.preventDefault();
            OpenPopup($(this).attr('href'));
        })
        function OpenPopup(pageUrl) {
            var $pageContent = $('<div/>');
            $pageContent.load(pageUrl, function () {
                $('#popupForm', $pageContent).removeData('validator');
                $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');

            });

            $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                .html($pageContent)
                .dialog({
                    draggable: false,
                    autoOpen: false,
                    resizable: false,
                    model: true,
                    title: 'Popup Dialog',
                    height: 550,
                    width: 600,
                    close: function () {
                        $dialog.dialog('destroy').remove();
                    }
                })

            $('.popupWindow').on('submit', '#popupForm', function (e) {
                var url = $('#popupForm')[0].action;
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $('#popupForm').serialize(),
                    success: function (data) {
                        if (data.status) {
                            $dialog.dialog('close');
                            oTable.ajax.reload();
                        }
                    }
                })

                e.preventDefault();
            })

            $dialog.dialog('open');
        }
    })
</script>
   
}
